body{

}

title{
    text-transform: capitalize;
}
nav{
    padding: 10px;
}

header{
    text-align: center;
}

h1{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    margin: 10px;
    background-color: darkgray;
}

h2{
    padding-left: 20px
}

h3{
    background-color: gray;
}
aside{
    float: right;
    padding-right: 30px;
}

footer{

}