*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 2px solid black;
    font-size: 30px;
    width: 100%;
    max-width: 500px;
    margin: 15px;
    margin-left: 50px;
    justify-content: space-between;
    
}

body{
    margin: 0;
    padding: 0;
}

article{
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    background-color: aliceblue;
    padding: 15%;
    font-size: 20px;
}

header{
    padding: 30px;
    border-style: solid;
    text-align: center;
}

h1{
    font-size: 36px;
}

article h2{
    padding-bottom: 40px;
}

footer{
    padding: 30px;
    border-top: 2px solid black;
}
