/* source: https://matthewjamestaylor.com/responsive-font-size */
/*
html {
    font-size: calc(17px + 0.390625vw);
}

h1 {
    font-size: 3rem;
    line-height: 70%;
}
h2 {
    font-size: 1.5rem;
} */
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

html {
    font-size:  calc(17px + 0.390625vw);
}

h1, h2, h3 , h4, h5, h6 {
    font-family: 'Protest Strike', sans-serif;
    font-weight: normal;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2em;
}

p{
    font-size: 1.2em;
}

